.content-data{
    padding: 20px;
    font-size: 1.5rem !important;
    .card{
        height: 83vh;
        background: #bdbdbd;
    }
}
#full-width-tabpanel-1 {
    border: solid black 1px;
}
button:focus{
    background: none;
}