.container-header{
   // position: fixed;
   // top:0;
    height: 100px;
    width: 100vw;
    background: rgb(0,183,191);
    background: linear-gradient(90deg, rgba(0,183,191,1) 42%, rgba(0,94,158,1) 100%);
}