/* Header */

input.search-field {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    border: 0;
    height: 20px;
    padding: 8px 8px 8px 60px;
    width: 100px;
    background: #f7f7f7;
    transition: background 0.2s, width 0.2s;
    border-radius: 20px;
  }
  
  input.search-field:hover {
    background: #ebebeb;
  }
  
  input.search-field:focus {
    outline: none;
    width: 150px;
    color: #212121;
  }
  input.search-field:focus:hover {
    background: #f7f7f7;
  }
  .search-icon {
    position: absolute;
    top: 0;
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.54);
  }
  #btn-visibleColumn {
    border-radius: 25px;
    background: #f7f7f7;
  }
  
  @media only screen and (max-width: 600px) {
    ::placeholder {
      color: transparent;
    }
  
    input.search-field {
      width: 70px;
      margin-right: 0px;
      padding: 8px 25px;
    }
    input.search-field ~ .search-popup {
      width: 1px;
      margin-right: 0px;
      padding: 8px 25px;
    }
  
    .search-icon {
      top: 0;
      padding-left: 15px;
      color: rgba(0, 0, 0, 0.54);
    }
  
    input.search-field:focus {
      margin-right: 0px;
      width: 100px;
      padding: 8px 8px 8px 50px;
    }
  }
  