/* Header */

input.search-field {
  font-weight:500 !important;;
  color: rgba(0, 0, 0, 0.15) !important;;
  border: 0 !important;
  height: 30px !important;
  padding: 10px 10px 10px 60px !important;
  width: 10vw !important;;
  background: #f7f7f7 !important;;
  transition: background 0.2s, width 0.2s !important;;
  border-radius: 15px !important;;
}

input.search-field:hover {
  background: #ebebeb !important;;
}

input.search-field:focus {
  outline: none !important;;
  width: 15vw !important;;
  color: #212121 !important;;
}
input.search-field:focus:hover {
  background: #f7f7f7 !important;;
}
.search-icon {
  position: absolute !important;;
  top: 0 !important;;
  padding-left: 10px !important;;
  color: rgba(0, 0, 0, 0.5) !important;;
}
#btn-visibleColumn {
  border-radius: 25px !important;;
  background: #f7f7f7 !important;;
}

@media only screen and (max-width: 600px) {
  ::placeholder {
    color: transparent;
  }

  input.search-field {
    width: 70px;
    margin-right: 0px;
    padding: 8px 25px;
  }
  input.search-field ~ .search-popup {
    width: 1px;
    margin-right: 0px;
    padding: 8px 25px;
  }

  .search-icon {
    top: 0;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.54);
  }

  input.search-field:focus {
    margin-right: 0px;
    width: 100px;
    padding: 8px 8px 8px 50px;
  }
}
